@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(rgb(171, 114, 245), rgb(122, 240, 122));
  height: 100vh;
}
nav img {
  display: block;
  margin: 0px auto;
  width: 50px;
  margin-top: 5px;
}
nav h1 {
  display: block;
  width: 7%;
  margin: 0px auto;
  font-family: "Dongle", sans-serif;
  font-size: 35px;
}
.container {
  border: 2.5px solid rgb(17, 45, 206);
  margin: auto;
  max-width: 90vh;
  min-height: 70vh;
  border-radius: 10px;
  max-height: 80vh;
  padding: 2px;
  overflow-y: auto;
  margin-bottom: 5px;
}
.message {
  background: rgb(211, 207, 207);
  width: 30%;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
}
.left {
  float: left;
  clear: both;
}
.right {
  float: right;
  clear: both;
}
.center1 {
  margin: 2px auto;
  clear: both;
  border-style: none;
  color: green;
  background: none;
}
.center2 {
  margin: 2px auto;
  clear: both;
  border-style: none;
  color: red;
  background: none;
}
.sendder {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.send-container {
  display: flex;
  width: 115vh;
  justify-content: center;
  text-align: center;
}
#msgInp {
  width: 70%;
  height: 20px;
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 5px;
  padding: 2px 5px;
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  font-size: 12px;
}
.btn {
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 1.1em;
}
